#encabezado {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#encabezado h1 {
    margin: 0;
    font-size: 24px;
    color: #014259;
    flex-grow: 1;
    text-align: center;
}

#imgenbn {
    width: 120px;
    height: 100px;
    border-radius: 10px;
}

body {
    background-color: #014259;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #014259;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #014259;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

textarea.form-control {
    width: 95%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: #014259;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #9cc6ca;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.table th {
    background-color: #014259;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}